In [3]:
import pandas as pd
df = pd.read_csv("data.csv")

In [4]:
df.head()

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
0,1,03/28/2021,Marylin,Alders,malders0@shop-pro.jp,Male,160.119.8.119,Canada,$5.36,NaN
1,2,03/19/2021,Hinda,Harridge,hharridge1@gnu.org,Female,210.51.172.132,Canada,$8.32,NaN
2,3,03/17/2021,Erl,Kilminster,ekilminster2@etsy.com,Male,213.8.101.145,United States,$3.73,20.0
3,4,03/19/2021,Grata,Brantl,gbrantl3@umn.edu,Female,5.140.237.101,United States,$3.70,20.0
4,5,03/24/2021,Kanya,Beasant,kbeasant4@jigsy.com,Male,106.252.162.233,Morocco,$9.24,20.0

In [5]:
df["email"].head()

0     malders0@shop-pro.jp
1       hharridge1@gnu.org
2    ekilminster2@etsy.com
3         gbrantl3@umn.edu
4      kbeasant4@jigsy.com
Name: email, dtype: object

In [6]:
df.email

0            malders0@shop-pro.jp
1              hharridge1@gnu.org
2           ekilminster2@etsy.com
3                gbrantl3@umn.edu
4             kbeasant4@jigsy.com
                  ...
995          derrigorn@elpais.com
996         arastallro@toplist.cz
997    bstickelsrp@cloudflare.com
998        ptesoerq@rakuten.co.jp
999         rpringuerrr@house.gov
Name: email, Length: 1000, dtype: object

In [7]:
type(df)#dataframe c le tableau complet avec plein de colonnes, agencement de plusieurs séries

pandas.core.frame.DataFrame

In [8]:
type(df.email)#series cest une colonne/une ligne a l'interieur de notre dataFrame

pandas.core.series.Series

#La distinction entre datastring et series et inportante car certaines fonctiones ne sont valable que pour l'un ou l'autre des types

In [9]:
df[10:20]

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
10,11,03/11/2021,Lief,Woodcraft,lwoodcrafta@sitemeter.com,Male,201.76.240.51,Canada,$5.71,NaN
11,12,03/16/2021,Bailie,Wyman,bwymanb@lulu.com,Male,222.60.138.222,United States,$3.15,20.0
12,13,03/05/2021,Janice,Morillas,jmorillasc@miibeian.gov.cn,Female,24.25.198.252,Canada,$5.30,20.0
13,14,03/24/2021,Cull,Vassie,cvassied@unblog.fr,NaN,18.203.61.94,France,$5.97,20.0
14,15,03/21/2021,Oralie,Maryon,omaryone@va.gov,Female,215.248.16.198,United States,$4.53,20.0
15,16,03/24/2021,Julina,Faint,jfaintf@amazon.co.jp,Female,96.193.4.151,United States,$4.10,20.0
16,17,03/27/2021,Eve,Allaway,eallawayg@ebay.co.uk,Female,184.107.59.156,United States,$6.44,20.0
17,18,03/20/2021,Esta,Boulden,ebouldenh@posterous.com,NaN,220.109.140.190,United States,$3.16,20.0
18,19,03/16/2021,Judye,Behan,jbehani@google.es,Female,27.196.2.18,France,$4.90,20.0
19,20,03/01/2021,Sibeal,Mounch,smounchj@rakuten.co.jp,Male,218.17.7.177,Canada,$5.82,20.0

In [10]:
df.loc[10:13] # ca peut cibler des lignes= rangées precises

,id,date,first_name,last_name,email,gender,ip_address,country,price_paid,tax
10,11,03/11/2021,Lief,Woodcraft,lwoodcrafta@sitemeter.com,Male,201.76.240.51,Canada,$5.71,NaN
11,12,03/16/2021,Bailie,Wyman,bwymanb@lulu.com,Male,222.60.138.222,United States,$3.15,20.0
12,13,03/05/2021,Janice,Morillas,jmorillasc@miibeian.gov.cn,Female,24.25.198.252,Canada,$5.30,20.0
13,14,03/24/2021,Cull,Vassie,cvassied@unblog.fr,NaN,18.203.61.94,France,$5.97,20.0

In [11]:
df_email = df.set_index("email")

In [14]:
df_email.loc["jmorillasc@miibeian.gov.cn"].values.tolist()

[13,
 '03/05/2021',
 'Janice',
 'Morillas',
 'Female',
 '24.25.198.252',
 'Canada',
 '$5.30',
 20.0]

In [15]:
df_email.loc[["jmorillasc@miibeian.gov.cn","lwoodcrafta@sitemeter.com"]]# création d'un objet de type dataframe

,id,date,first_name,last_name,gender,ip_address,country,price_paid,tax
email,,,,,,,,,
jmorillasc@miibeian.gov.cn,13,03/05/2021,Janice,Morillas,Female,24.25.198.252,Canada,$5.30,20.0
lwoodcrafta@sitemeter.com,11,03/11/2021,Lief,Woodcraft,Male,201.76.240.51,Canada,$5.71,NaN

In [16]:
type(df_email.loc[["jmorillasc@miibeian.gov.cn","lwoodcrafta@sitemeter.com"]])

pandas.core.frame.DataFrame